<div class="columns">
  <div class="column">
    <h2 class="title is-2">Top 10 Pokemons</h2>

        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Name</th>
            <th>Stat Total</th>
            <th>HP</th>
            <th>Attack</th>
            <th>Defense</th>
            <th>Speed</th>
            <th>First Ability</th>
            <th>Seconde Ability</th>
            <th>Hidden Ability</th>
          </tr>
        </thead>
        <tbody>
          <% @pokemons.each do |pokemon| %>
            <tr>
              <td><%= pokemon.name %></td>
              <td><%= pokemon.stat_total %></td>
              <td><%= pokemon.HP %></td>
              <td><%= pokemon.attack %></td>
              <td><%= pokemon.defense %></td>
              <td><%= pokemon.speed %></td>
              <td><%= pokemon.first_ability %></td>
              <td><%= pokemon.second_ability %></td>
              <td><%= pokemon.hidden_ability %></td>
            </tr>
          <% end %>
        </tbody>
</table>

  </div>
</div>

