<% content_for(:html_title) {@pokemon.name}%>
<h1 style="display: flex; flex: 1; justify-content: center; margin: 0;"><%= @pokemon.name %></h1>

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <tr>
    <th>Type</th>
    <td><%= link_to @pokemon.type.name, @pokemon.type %></td>
  </tr>
  <tr>
    <th>Stat Total</th>
    <td><%= @pokemon.stat_total %></td>
  </tr>
  <tr>
    <th>HP</th>
    <td><%= @pokemon.HP %></td>
  </tr>
  <tr>
    <th>Attack</th>
    <td><%= @pokemon.attack %></td>
  </tr>
  <tr>
    <th>Defense</th>
    <td><%= @pokemon.defense %></td>
  </tr>
  <tr>
    <th>Speed</th>
    <td><%= @pokemon.speed %></td>
  </tr>
  <tr>
    <th>First Ability</th>
    <td><%= @pokemon.first_ability %></td>
  </tr>
  <tr>
    <th>Second Ability</th>
    <td><%= @pokemon.second_ability %></td>
  </tr>
  <tr>
    <th>Hidden Ability</th>
    <td><%= @pokemon.hidden_ability %></td>
  </tr>
</table>

<div style="display: flex; flex: 1; justify-content: center;">
  <% if @pokemon.players.count > 1 %>
    <h2> There are <%= @pokemon.players.count %> Players who have <%= @pokemon.name %>. See the list:</h2>
  <% elsif @pokemon.players.count == 1 %>
      <h2> There are 1 Player who have <%= @pokemon.name %>. See the name:</h2>
  <% else %>
    <h2>No player has <%= @pokemon.name %>.</h2>
  <% end %>
</div>
<div style="display: flex; flex: 1; justify-content: center;">
  <ul>
    <% @pokemon.players.each do |player| %>
    <li><%= link_to player.name, player %></li>
    <% end %>
  </ul>
</div>

<%=link_to "Go Back", :back%>
