<!DOCTYPE html>
<html>
  <head>
    <title>Home of Pokemons</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
  </head>

  <body>
    <section class="container">
      <div>
        <h1>Home of Pokemons</h1>
      </div>
        <%= render partial:'shared/navbar'%>
      </div>
      <%= yield %>
    </section>
  </body>
</html>
